*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #1976d2; */
    background-image: url('./assets/sbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}